# FTP HostGator
FTP_HOST=69.6.225.181

# Sitio Lonquensur
LONQUENSUR_FTP_USER=lonquensur@lonquensur.cl
LONQUENSUR_FTP_PASSWORD=

# Sitio Gira
GIRA_FTP_USER=deploy@gira.lonquensur.cl
GIRA_FTP_PASSWORD=
